html{
  font-family: 'Helvetica Neue', sans-serif;
}

*{
  font-family: inherit;
}

a{
  color: DeepSkyBlue;
}

a:active{
  color: SkyBlue;
}

.hidden{
  display: none;
}
#question-list > *{
  margin-bottom: 10px;
}

.backButton {
    text-decoration: none; font: menu;
    display: inline-block; padding: 2px 8px;
    background: ButtonFace; color: ButtonText;
    border-style: solid; border-width: 2px;
    border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}
